form {
    margin: 10px auto;
    width: 1000px;
    padding: 20px 150px;
    border: 2px solid #cccccc;
    border-radius: 10px;
    background-color: #f8f8f8;
}

h3 {
    padding-bottom: 10px;
}

#star {
    color: red;
}

#clear {
    border: 1px solid #cccccc;
}

#buttonList {
    margin: 20px auto 30px;
    text-align: center;
}