<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>Travel and Entertainment Search</title>
    <link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>

    <form name="searchForm" ng-controller="formController">
        <div class="row">
            <span class="col-sm-3"></span>
            <h3 class="col-sm-9">Travel and Entertainment Search</h2>
        </div>
        <div class="form-group row">
            <label for="keyword" class="col-sm-3 col-form-label">Keyword<span id="star">*</span></label>
            <div class="col-sm-9">
                <input id="keyword" class="form-control" ng-class="{'border border-danger': searchForm.keyword.$invalid && searchForm.keyword.$touched}" type="text" name="keyword" ng-model="keyword" required>
                <div style="color:red" ng-show="searchForm.keyword.$invalid && searchForm.keyword.$touched">Please enter a keyword.</div>
            </div>
        </div>
        <div class="form-group row">
            <label for="category" class="col-sm-3 col-form-label">Category</label>
            <div class="col-sm-6">
                <select id="category" class="form-control" name="category">
                <option value="">Default</option>
                <option value="">Airport</option>
                </select>          
            </div>  
        </div>
        <div class="form-group row">
            <label for="distance" class="col-sm-3 col-form-label">Distance (miles)</label>
            <div class="col-sm-6">
                <input id="distance" class="form-control" type="text" name="distance" value="10" placeholder="10">
            </div>
        </div>
        <div class="form-group row">
            <label for="from" class="col-sm-3 col-form-label">From<span id="star">*</span></label>
            <div id="from" class="col-sm-9">
                <div class="form-check">
                    <input id="here" class="form-check-input" type="radio" name="location" value="{{lat + ',' + lon}}" checked  ng-click="enableHere()">
                    <label for="here" class="form-check-label">Current location</label>
                </div>
                <div class="form-check">
                    <input id="not_here" class="form-check-input" type="radio" name="location" ng-click="enableOther()">
                    <label for="not_here" class="form-check-label">Other. Please specify:</label>
                    <input id="otherLocation" class="form-control" ng-class="{'border border-danger': searchForm.otherLocation.$invalid && searchForm.otherLocation.$touched}" type="text" name="otherLocation" placeholder="Enter a location" ng-model="otherLocation" required ng-disabled="isDisabled">
                    <div style="color:red" ng-show="searchForm.otherLocation.$invalid && searchForm.otherLocation.$touched">Please enter a location.</div>
                </div>
            </div>
        </div>

      <button id="search" class="btn btn-primary" type="submit" ng-disabled="searchForm.keyword.$invalid"><i class="fas fa-search"></i> Search</button>
      <button id="clear" class="btn" type="button" ng-click="clear()">Clear</button>
    </form>

    <div id="buttonList">
        <button id="resultButton" class="btn btn-primary" type="button">Results</button>
        <button id="favoriteButton" class="btn btn-light" type="button">Favorites</button>
    </div>



    <!-- load bootstrap via CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- load Font Awesome via CDN -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css" integrity="sha384-v2Tw72dyUXeU3y4aM2Y0tBJQkGfplr39mxZqlTBDUZAb9BGoC40+rdFCG0m10lXk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css" integrity="sha384-q3jl8XQu1OpdLgGFvNRnPdj5VIlCvgsDQTQB6owSOHWlAurxul7f+JpUOVdAiJ5P" crossorigin="anonymous">
    <!-- load angular via CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="function.js"></script>
     <!-- client-side library: loads all of the main JavaScript objects and symbols for use in the Maps JavaScript API.  -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhC1Tha8FKORJfe7--SYluRWe_n1LVMoE&libraries=places&callback=initAutocomplete" async defer></script>
</body>
</html>