#searchForm {
    margin: 10px auto;
    width: 1000px;
    padding: 20px 150px;
    border: 2px solid #cccccc;
    border-radius: 10px;
    background-color: #f8f8f8;
}

#title {
    padding-bottom: 10px;
}

#star {
    color: red;
}

#clear {
    border: 1px solid #cccccc;
}

#progressBar {
    width: 1200px;
    margin: 100px auto 0;

}

#warnAlert {
    width: 1200px;
    margin: 100px auto 0;
}

#resultPills {
    width: 200px;
    margin: 20px auto 30px;
}

#detailsButton {
    float: right;
    border: 1px solid #cccccc;
    margin-bottom: 10px;
}

#detailsButton:hover {
    background-color: #efefef;
    transition: 0.1s linear;
}

#placeRow:hover {
    background-color: #efefef;
}

#favoriteIcon {
    border: 1px solid #cccccc;
    background-color: white;
}

#favoriteIcon:hover {
    background-color: #efefef;
    transition: 0.1s linear;
}

#detailsIcon {
    width: 40px;
    height: 40px;
    border: 1px solid #cccccc;
    color: black;
    background-color: white;
}

#detailsIcon:hover {
    background-color: #efefef;
    transition: 0.2s linear;
}

#pageButton {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

#nextButton {
    border: 1px solid #cccccc;
    text-align: center;
    width: 120px;
    margin: 10px;
}

#previousButton {
    border: 1px solid #cccccc;
    text-align: center;
    width: 120px;
    margin: 10px;
}

#listButton {
    border: 1px solid #cccccc;
}

#listButton:hover {
    background-color: #efefef;
    transition: 0.1s linear;
}

#favoriteButton {
    border: 1px solid #cccccc;
    background-color: white;
}

#favoriteButton:hover {
    background-color: #efefef;
    transition: 0.1s linear;
}

.starOuter {
    position: relative;
    display: inline-block;
    color:rgba(255,255,255,0); 
}

.ratingStar {
    position: absolute;
    top: 0;
    left: 0;
    color: #da7538;
    white-space: nowrap;
    overflow: hidden;
}

#pegman {
    width: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    padding: 1px;
}

#twitter {
    width: 40px;
}

#map {
    height: 500px;
}

