#searchForm {
    margin: 10px auto;
    padding: 2% 15%;
    border: 2px solid #cccccc;
    border-radius: 10px;
    background-color: #f8f8f8;
}

@media only screen and (max-width: 768px) {
    #searchForm {
        padding: 5%;      
    }
}

.borderDanger {
    border: 2px solid #dc3545!important;
}

#title {
    padding-bottom: 10px;
}

#star {
    color: red;
}

#clear {
    background-color: white;
    border: 1px solid #cccccc;
}

#progressBar {
    margin: 10% auto 0;

}

#warnAlert {
    margin: 10% auto 0;
}

#warnAlertDanger {
    margin: 10% auto 0;    
}

#warnAlertPhotos {
    margin: 10% auto 0;
}

#warnAlertMap {
    margin: 10% auto 0;   
}

#warnAlertReviews{
    margin: 10% auto 0;  
}

#resultPills {
    width: 200px;
    margin: 20px auto 30px;
}

#detailsButton {
    float: right;
    background-color: white;
    border: 1px solid #cccccc;
    margin-bottom: 10px;
}

#detailsButton:hover {
    background-color: #efefef;
    transition: 0.1s linear;
}

#detailsButtonFav {
    float: right;
    background-color: white;
    border: 1px solid #cccccc;
    margin-bottom: 10px;
}

#detailsButtonFav:hover {
    background-color: #efefef;
    transition: 0.1s linear;
}

@media only screen and (max-width: 768px) {
    .textNoWrap {
        white-space: nowrap;
    }
}

.placeRow:hover {
    background-color: #efefef;
}

.selectedPlaceRow {
    background-color: #f9df9f;  
}

#favoriteIcon {
    background-color: white;
    border: 1px solid #cccccc;
}

#deleteIcon {
    background-color: white;
    border: 1px solid #cccccc;    
}

#favoriteIcon:hover {
    background-color: #efefef;
    transition: 0.1s linear;
}

#detailsIcon {
    width: 40px;
    height: 40px;
    border: 1px solid #cccccc;
    color: black;
    background-color: white;
}

#detailsIconFav {
    width: 40px;
    height: 40px;
    border: 1px solid #cccccc;
    color: black;
    background-color: white;    
}

#detailsIcon:hover {
    background-color: #efefef;
    transition: 0.2s linear;
}

.pageButton {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

#nextButton {
    background-color: white;
    border: 1px solid #cccccc;
    text-align: center;
    width: 120px;
    margin: 10px;
}

#nextButtonFav {
    background-color: white;
    border: 1px solid #cccccc;
    text-align: center;
    width: 120px;
    margin: 10px;    
}

#previousButton {
    background-color: white;
    border: 1px solid #cccccc;
    text-align: center;
    width: 120px;
    margin: 10px;
}

#previousButtonFav {
    background-color: white;
    border: 1px solid #cccccc;
    text-align: center;
    width: 120px;
    margin: 10px;    
}

#detailsTable {
    margin-bottom: 50px;
}

#listButton {
    background-color: white;
    border: 1px solid #cccccc;
}

#listButton:hover {
    background-color: #efefef;
    transition: 0.1s linear;
}

#favoriteButton {
    background-color: white;
    border: 1px solid #cccccc;
}

#favoriteButton:hover {
    background-color: #efefef;
    transition: 0.1s linear;
}

.starOuter {
    position: relative;
    display: inline-block;
    color:rgba(255,255,255,0); 
}

.ratingStar {
    position: absolute;
    top: 0;
    left: 0;
    color: #da7538;
    white-space: nowrap;
    overflow: hidden;
}

.photoCol {
    padding-left: 5px;
    padding-right: 5px;
}
.photoDetails {
    margin-top: 5px;
    margin-bottom: 5px;
}

#pegman {
    width: 40px;
}

#pegmanButton {
    border: 1px solid #cccccc;
    padding: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
    .mapCol {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .mapbuttonDetail {
        justify-content: flex-start!important;
    }
}

#twitter {
    width: 40px;
}

#map {
    height: 500px;
}

#pano {
    height: 500px;
}

@media only screen and (max-width: 768px) {
    #map {
        height: 400px;
    }

    #pano {
        height: 400px;
    } 
}

#mapForStreetView {
    width: 10px;
    height: 10px;
    opacity: 0;
}

#directionsPanel {
    position: relative;
    width: 100%;
}

.reviewsTable {
    margin-top: 8px;
    margin-bottom: 8px;
    padding-top: 15px;
    padding-bottom: 30px
}

.twitterDisabled {
    cursor: not-allowed;
}

.addFavorite {
    color: #f8d656;
}

.faded.ng-enter {
    transition:1s linear all;
    opacity: 0;
}

.faded.ng-enter.ng-enter-active {
    opacity: 1;
}

.my-switch-animation.ng-hide-remove {
    transition: 666ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
    position: absolute;
}

.my-switch-animation.ng-hide-remove {
    left: -100%;
    opacity: 0;
}

.my-switch-animation.ng-hide-remove-active {
    left: 0;
    opacity: 1;
}

.my-switch-animation-reverse.ng-hide-remove {
    transition: 666ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
    position: absolute;
}

.my-switch-animation-reverse.ng-hide-remove {
    left: 100%;
    opacity: 0;
}

.my-switch-animation-reverse.ng-hide-remove-active {
    left: 0;
    opacity: 1;
}